1 задача

In [161]:
import pandas as pd
import numpy as np

my_list = [i for i in range(10)]
my_np_list = np.array([i for i in range(20)])
my_set = [{"1": "1", "2": "2", "3": "3", "4": "5"}]

pd.DataFrame(my_np_list)
pd.DataFrame(my_set)
pd.DataFrame(my_list)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

2 задача

In [162]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser = ser.to_frame().transpose()
ser

   a  b  c  e  d  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z
0  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[1 rows x 26 columns]

3 задача

In [163]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
df = pd.concat([ser1, ser2], axis=1)
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

4 задача

In [164]:
import pandas as pd
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name="latin_latters")
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_latters, dtype: object

5 Задача

In [165]:
import pandas as pd

# Создаем Series
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

indices_to_drop = ser1[ser1.isin(ser2)].index

ser1.drop(indices_to_drop, inplace=True)

print(ser1)

0    1
1    2
2    3
dtype: int64

6 задача

In [166]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

indexes_1 = ser1[ser1.isin(ser2)].index
indexes_2 = ser2[ser2.isin(ser1)].index

ser1.drop(indexes_1, inplace=True)
ser2.drop(indexes_2, inplace=True)

df = pd.concat([ser1, ser2])

df

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

7 Задача

In [167]:
import pandas as pd
ser = pd.Series(np.random.normal(10, 5, 25))
print(min(ser))
print(max(ser))
print(ser.quantile(0.25))
print(ser.quantile(0.75))
print(ser.quantile(0.5))
print(ser)

1.6925020562063402
18.9818757190231
7.902003242952118
13.30827145213577
10.504361521512418
0      9.795578
1      7.701000
2     18.413984
3      9.345013
4      1.692502
5      5.581509
6      7.934688
7      7.902003
8     14.561945
9     12.865645
10     8.117939
11    12.067318
12    10.504362
13    13.070199
14    14.834743
15     6.937535
16    16.246486
17     4.836975
18    13.590049
19    18.981876
20    13.308271
21     7.917245
22    11.194164
23    13.279255
24     3.341942
dtype: float64

8 Задача

In [168]:
import pandas as pd

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

freq = ser.value_counts()

freq

c    6
a    6
h    6
f    4
g    3
b    3
e    2
Name: count, dtype: int64

9 Задача

In [169]:
import pandas as pd
import numpy as np

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

top_2_values = ser.value_counts().nlargest(2).index

# Заменяем все элементы, кроме двух наиболее часто встречающихся, на "Прочее"
ser_modified = ser.where(ser.isin(top_2_values), 'Прочее')

print(ser_modified)

0          2
1          2
2          2
3          2
4          2
5          1
6          1
7          2
8          2
9     Прочее
10    Прочее
11         1
dtype: object

10 Задача

In [170]:
import pandas as pd

ser = pd.Series(np.random.random(20))

labels = [f'{i}th' for i in range(1, 11)]

deciles = pd.qcut(ser, q=10, labels=labels)

# Преобразуем результат в категориальный тип данных
deciles = deciles.astype('category')

# Выводим первые 5 элементов
print(deciles)

0      6th
1     10th
2      9th
3      4th
4      7th
5      7th
6      3th
7      3th
8      9th
9     10th
10     8th
11     1th
12     6th
13     4th
14     2th
15     5th
16     1th
17     5th
18     8th
19     2th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

11 Задача

In [171]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

reshaped_array = ser.values.reshape(7, 5)

df = pd.DataFrame(reshaped_array)

df

   0  1  2  3  4
0  6  8  4  4  3
1  4  4  3  1  3
2  5  7  7  3  5
3  6  2  5  5  3
4  1  8  7  1  2
5  6  1  6  2  9
6  7  3  3  9  8

12 Задача

In [172]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)
indexes = []

for i in range(len(ser)):
    if ser[i] % 3 != 0:
        indexes.append(i)

ser.drop(indexes, inplace=True)

ser

0    8
1    3
2    2
3    9
4    8
5    5
6    4
dtype: int32

1    3
3    9
dtype: int32

13 задача

In [173]:
import pandas as pd
import numpy as np

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

extracted_elem = ser.iloc[pos]

extracted_elem

0     a
4     e
8     i
14    o
20    u
dtype: object

14 Задача

In [174]:
import pandas as pd
import numpy as np

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis=1)

df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

15 Задача

In [175]:
import pandas as pd
import numpy as np

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

positions = [ser1[ser1 == value].index[0] for value in ser2]

print("Позиции элементов ser2 в ser1:")
print(positions)

Позиции элементов ser2 в ser1:
[np.int64(5), np.int64(4), np.int64(0), np.int64(8)]

16 задача

In [176]:
import pandas as pd
import numpy as np

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

diff = truth - pred

squared_diff = diff ** 2

mse = squared_diff.mean()

print(f"Среднеквадратическая ошибка: {mse}")

Среднеквадратическая ошибка: 0.3050181048964494

17 Задача

In [177]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser_capt = ser.str.capitalize()

ser_capt

0     How
1      To
2    Kick
3    Ass?
dtype: object

18 Задача

In [ ]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser_capt = ser.str.len()

ser_capt

19 Задача

In [ ]:
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

first_diff = ser.diff()

second_diff = first_diff.diff()

print(first_diff)
print(second_diff)

20 Задача

In [ ]:
import pandas as pd

# Создаем Series с строковым представлением дат
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Преобразуем строки в datetime64
ser_datetime = pd.to_datetime(ser, format='mixed')

print(ser_datetime)

21 Задача

In [ ]:
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_datetime = pd.to_datetime(ser, format='mixed')

ser_date = ser_datetime.dt.day
ser_week = ser_datetime.dt.isocalendar().week
day_of_year = ser_datetime.dt.dayofyear
day_of_week = ser_datetime.dt.day_name()

print(ser_date)
print(ser_week)
print(day_of_week)
print(day_of_year)

Задача 22

In [ ]:
import pandas as pd

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

new_ser = pd.to_datetime(ser.str.replace(r'(\w{3} \d{4})', r'04 \1', regex=True), format="mixed")

new_ser

Задача 23

In [ ]:
import pandas as pd

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def has_at_least_two_vowels(word):
    vowels = set("aeiouAEIOU")
    return sum(1 for char in word if char in vowels) >= 2

result = ser[ser.apply(has_at_least_two_vowels)]

print(result)

Задача 24

In [ ]:
import pandas as pd

emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

pattern = r'[A-Za-z0-9_%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

valid_emails = emails[emails.str.contains(pattern, na=False, regex=True)]

print(valid_emails)

Задача 25

In [ ]:
import pandas as pd
import numpy as np  

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

df = pd.DataFrame({"Fruit": fruit, "Weight": weights})

meam_weights = df.groupby('Fruit')['Weight'].mean()

meam_weights

Задача 26

In [ ]:
import pandas as pd
import numpy as np

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

distance = np.sqrt(np.sum((p - q) ** 2))

distance = round(distance, 3)

print(distance)

Задача 27

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser))[0]

print(peaks)

Задача 28

In [ ]:
import pandas as pd

my_str = 'dbc deb abed gade'

ser = pd.Series(list(my_str))

char_counts = ser.value_counts()

least_frequent_char = char_counts[char_counts.index != ' '].idxmin()

result = ''.join(ser.replace(' ', least_frequent_char))

print(result)

Задача 29

In [ ]:
import pandas as pd
import random 

date = ['2000-01-01', '2000-01-08', '2000-01-15', '2000-01-22', '2000-01-29', '2000-02-05', '2000-02-12', '2000-02-19', '2000-02-26', '2000-03-04']
rand = [random.randint(1, 10) for i in range(10)]

df = pd.DataFrame({'Datetime': date, "Random": rand})

df

Задача 30

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

full_date_range = pd.date_range(start=ser.index.min(), end=ser.index.max(), freq='D')

ser_reindexed = ser.reindex(full_date_range)

ser_filled = ser_reindexed.ffill()

print(ser_filled)

Задача 31

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(10)]

autocorrelations_without_lag0 = autocorrelations[1:]

max_corr_lag = np.argmax(autocorrelations_without_lag0) + 1 

print(autocorrelations)
print(f"Lag having highest correlation: {max_corr_lag}")

Задача 32

In [ ]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv', skiprows=lambda x: x % 50 != 0)

df

Задача 33

In [ ]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv')

df['MEDV_Category'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')

print(df[['medv', 'MEDV_Category']].head())

Задача 34

In [ ]:
import pandas as pd
import numpy as np

L = pd.Series(range(15))

window_size = 4

intervals = np.lib.stride_tricks.sliding_window_view(L, window_size)

df = pd.DataFrame(intervals)

print(df)

Задача 35

In [ ]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv')

selected_columns = df[['crim', 'medv']]

print(selected_columns.head())

Задача 36

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('Cars93_miss.csv')

num_rows, num_cols = df.shape
print(num_rows)
print(num_cols)

print(df.dtypes)

print(df.describe(include='all'))

numpy_array = df.to_numpy()
print(numpy_array)

list_representation = df.values.tolist()
print(list_representation)

Задача 37

In [ ]:
import pandas as pd

# Чтение данных из CSV-файла
url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

max_price_row = df.loc[df['Price'].idxmax()]

row_index = df['Price'].idxmax()
column_name = 'Price'

print(f"Производитель: {max_price_row['Manufacturer']}")
print(f"Модель: {max_price_row['Model']}")
print(f"Тип: {max_price_row['Type']}")
print(f"Максимальная цена: {max_price_row['Price']}")
print(f"Номер строки: {row_index}")
print(f"Номер столбца: {column_name}")

Задача 38

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

df.rename(columns={'Type': 'CarType'}, inplace=True)

df.columns = df.columns.str.replace('.', '_')

print(df.columns)

Задача 39

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print("Количество отсутствующих значений в каждом столбце:")
print(missing_values)

has_missing_values = df.isnull().values.any()
print(f"\nЕсть ли отсутствующие значения в DataFrame: {has_missing_values}")

Задача 40

In [83]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print("Количество пропущенных значений в каждом столбце:")
print(missing_values)

max_missing_column = missing_values.idxmax()
max_missing_count = missing_values.max()

print(f"\nСтолбец с наибольшим числом пропущенных значений: {max_missing_column}")
print(f"Количество пропущенных значений: {max_missing_count}")

Количество пропущенных значений в каждом столбце:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Столбец с наибольшим числом пропущенных значений: AirBags
Количество пропущенных значений: 38