1 задача

In [161]:
import pandas as pd
import numpy as np

my_list = [i for i in range(10)]
my_np_list = np.array([i for i in range(20)])
my_set = [{"1": "1", "2": "2", "3": "3", "4": "5"}]

pd.DataFrame(my_np_list)
pd.DataFrame(my_set)
pd.DataFrame(my_list)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

2 задача

In [162]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser = ser.to_frame().transpose()
ser

   a  b  c  e  d  f  g  h  i  j  ...   q   r   s   t   u   v   w   x   y   z
0  0  1  2  3  4  5  6  7  8  9  ...  16  17  18  19  20  21  22  23  24  25

[1 rows x 26 columns]

3 задача

In [163]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
df = pd.concat([ser1, ser2], axis=1)
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

4 задача

In [164]:
import pandas as pd
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name="latin_latters")
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_latters, dtype: object

5 Задача

In [165]:
import pandas as pd

# Создаем Series
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

indices_to_drop = ser1[ser1.isin(ser2)].index

ser1.drop(indices_to_drop, inplace=True)

print(ser1)

0    1
1    2
2    3
dtype: int64

6 задача

In [166]:
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

indexes_1 = ser1[ser1.isin(ser2)].index
indexes_2 = ser2[ser2.isin(ser1)].index

ser1.drop(indexes_1, inplace=True)
ser2.drop(indexes_2, inplace=True)

df = pd.concat([ser1, ser2])

df

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

7 Задача

In [167]:
import pandas as pd
ser = pd.Series(np.random.normal(10, 5, 25))
print(min(ser))
print(max(ser))
print(ser.quantile(0.25))
print(ser.quantile(0.75))
print(ser.quantile(0.5))
print(ser)

1.6925020562063402
18.9818757190231
7.902003242952118
13.30827145213577
10.504361521512418
0      9.795578
1      7.701000
2     18.413984
3      9.345013
4      1.692502
5      5.581509
6      7.934688
7      7.902003
8     14.561945
9     12.865645
10     8.117939
11    12.067318
12    10.504362
13    13.070199
14    14.834743
15     6.937535
16    16.246486
17     4.836975
18    13.590049
19    18.981876
20    13.308271
21     7.917245
22    11.194164
23    13.279255
24     3.341942
dtype: float64

8 Задача

In [168]:
import pandas as pd

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

freq = ser.value_counts()

freq

c    6
a    6
h    6
f    4
g    3
b    3
e    2
Name: count, dtype: int64

9 Задача

In [169]:
import pandas as pd
import numpy as np

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

top_2_values = ser.value_counts().nlargest(2).index

# Заменяем все элементы, кроме двух наиболее часто встречающихся, на "Прочее"
ser_modified = ser.where(ser.isin(top_2_values), 'Прочее')

print(ser_modified)

0          2
1          2
2          2
3          2
4          2
5          1
6          1
7          2
8          2
9     Прочее
10    Прочее
11         1
dtype: object

10 Задача

In [170]:
import pandas as pd

ser = pd.Series(np.random.random(20))

labels = [f'{i}th' for i in range(1, 11)]

deciles = pd.qcut(ser, q=10, labels=labels)

# Преобразуем результат в категориальный тип данных
deciles = deciles.astype('category')

# Выводим первые 5 элементов
print(deciles)

0      6th
1     10th
2      9th
3      4th
4      7th
5      7th
6      3th
7      3th
8      9th
9     10th
10     8th
11     1th
12     6th
13     4th
14     2th
15     5th
16     1th
17     5th
18     8th
19     2th
dtype: category
Categories (10, object): ['1th' < '2th' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

11 Задача

In [171]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 35))

reshaped_array = ser.values.reshape(7, 5)

df = pd.DataFrame(reshaped_array)

df

   0  1  2  3  4
0  6  8  4  4  3
1  4  4  3  1  3
2  5  7  7  3  5
3  6  2  5  5  3
4  1  8  7  1  2
5  6  1  6  2  9
6  7  3  3  9  8

12 Задача

In [172]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 10, 7))

print(ser)
indexes = []

for i in range(len(ser)):
    if ser[i] % 3 != 0:
        indexes.append(i)

ser.drop(indexes, inplace=True)

ser

0    8
1    3
2    2
3    9
4    8
5    5
6    4
dtype: int32

1    3
3    9
dtype: int32

13 задача

In [173]:
import pandas as pd
import numpy as np

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

extracted_elem = ser.iloc[pos]

extracted_elem

0     a
4     e
8     i
14    o
20    u
dtype: object

14 Задача

In [174]:
import pandas as pd
import numpy as np

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis=1)

df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

15 Задача

In [175]:
import pandas as pd
import numpy as np

ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

positions = [ser1[ser1 == value].index[0] for value in ser2]

print("Позиции элементов ser2 в ser1:")
print(positions)

Позиции элементов ser2 в ser1:
[np.int64(5), np.int64(4), np.int64(0), np.int64(8)]

16 задача

In [176]:
import pandas as pd
import numpy as np

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

diff = truth - pred

squared_diff = diff ** 2

mse = squared_diff.mean()

print(f"Среднеквадратическая ошибка: {mse}")

Среднеквадратическая ошибка: 0.3050181048964494

17 Задача

In [177]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser_capt = ser.str.capitalize()

ser_capt

0     How
1      To
2    Kick
3    Ass?
dtype: object

18 Задача

In [ ]:
import pandas as pd

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser_capt = ser.str.len()

ser_capt

19 Задача

In [ ]:
import pandas as pd

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

first_diff = ser.diff()

second_diff = first_diff.diff()

print(first_diff)
print(second_diff)

20 Задача

In [ ]:
import pandas as pd

# Создаем Series с строковым представлением дат
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Преобразуем строки в datetime64
ser_datetime = pd.to_datetime(ser, format='mixed')

print(ser_datetime)

21 Задача

In [ ]:
import pandas as pd

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_datetime = pd.to_datetime(ser, format='mixed')

ser_date = ser_datetime.dt.day
ser_week = ser_datetime.dt.isocalendar().week
day_of_year = ser_datetime.dt.dayofyear
day_of_week = ser_datetime.dt.day_name()

print(ser_date)
print(ser_week)
print(day_of_week)
print(day_of_year)

Задача 22

In [ ]:
import pandas as pd

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

new_ser = pd.to_datetime(ser.str.replace(r'(\w{3} \d{4})', r'04 \1', regex=True), format="mixed")

new_ser

Задача 23

In [ ]:
import pandas as pd

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def has_at_least_two_vowels(word):
    vowels = set("aeiouAEIOU")
    return sum(1 for char in word if char in vowels) >= 2

result = ser[ser.apply(has_at_least_two_vowels)]

print(result)

Задача 24

In [ ]:
import pandas as pd

emails = pd.Series(['buying books at amazon.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

pattern = r'[A-Za-z0-9_%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

valid_emails = emails[emails.str.contains(pattern, na=False, regex=True)]

print(valid_emails)

Задача 25

In [ ]:
import pandas as pd
import numpy as np  

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

df = pd.DataFrame({"Fruit": fruit, "Weight": weights})

meam_weights = df.groupby('Fruit')['Weight'].mean()

meam_weights

Задача 26

In [ ]:
import pandas as pd
import numpy as np

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

distance = np.sqrt(np.sum((p - q) ** 2))

distance = round(distance, 3)

print(distance)

Задача 27

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser))[0]

print(peaks)

Задача 28

In [ ]:
import pandas as pd

my_str = 'dbc deb abed gade'

ser = pd.Series(list(my_str))

char_counts = ser.value_counts()

least_frequent_char = char_counts[char_counts.index != ' '].idxmin()

result = ''.join(ser.replace(' ', least_frequent_char))

print(result)

Задача 29

In [ ]:
import pandas as pd
import random 

date = ['2000-01-01', '2000-01-08', '2000-01-15', '2000-01-22', '2000-01-29', '2000-02-05', '2000-02-12', '2000-02-19', '2000-02-26', '2000-03-04']
rand = [random.randint(1, 10) for i in range(10)]

df = pd.DataFrame({'Datetime': date, "Random": rand})

df

Задача 30

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))

full_date_range = pd.date_range(start=ser.index.min(), end=ser.index.max(), freq='D')

ser_reindexed = ser.reindex(full_date_range)

ser_filled = ser_reindexed.ffill()

print(ser_filled)

Задача 31

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(10)]

autocorrelations_without_lag0 = autocorrelations[1:]

max_corr_lag = np.argmax(autocorrelations_without_lag0) + 1 

print(autocorrelations)
print(f"Lag having highest correlation: {max_corr_lag}")

Задача 32

In [ ]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv', skiprows=lambda x: x % 50 != 0)

df

Задача 33

In [ ]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv')

df['MEDV_Category'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')

print(df[['medv', 'MEDV_Category']].head())

Задача 34

In [ ]:
import pandas as pd
import numpy as np

L = pd.Series(range(15))

window_size = 4

intervals = np.lib.stride_tricks.sliding_window_view(L, window_size)

df = pd.DataFrame(intervals)

print(df)

Задача 35

In [ ]:
import pandas as pd

df = pd.read_csv('BostonHousing.csv')

selected_columns = df[['crim', 'medv']]

print(selected_columns.head())

Задача 36

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('Cars93_miss.csv')

num_rows, num_cols = df.shape
print(num_rows)
print(num_cols)

print(df.dtypes)

print(df.describe(include='all'))

numpy_array = df.to_numpy()
print(numpy_array)

list_representation = df.values.tolist()
print(list_representation)

Задача 37

In [ ]:
import pandas as pd

# Чтение данных из CSV-файла
url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

max_price_row = df.loc[df['Price'].idxmax()]

row_index = df['Price'].idxmax()
column_name = 'Price'

print(f"Производитель: {max_price_row['Manufacturer']}")
print(f"Модель: {max_price_row['Model']}")
print(f"Тип: {max_price_row['Type']}")
print(f"Максимальная цена: {max_price_row['Price']}")
print(f"Номер строки: {row_index}")
print(f"Номер столбца: {column_name}")

Задача 38

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

df.rename(columns={'Type': 'CarType'}, inplace=True)

df.columns = df.columns.str.replace('.', '_')

print(df.columns)

Задача 39

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print("Количество отсутствующих значений в каждом столбце:")
print(missing_values)

has_missing_values = df.isnull().values.any()
print(f"\nЕсть ли отсутствующие значения в DataFrame: {has_missing_values}")

Задача 40

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv"
df = pd.read_csv(url)

missing_values = df.isnull().sum()

print("Количество пропущенных значений в каждом столбце:")
print(missing_values)

max_missing_column = missing_values.idxmax()
max_missing_count = missing_values.max()

print(f"\nСтолбец с наибольшим числом пропущенных значений: {max_missing_column}")
print(f"Количество пропущенных значений: {max_missing_count}")

Задача 41

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

mean_min_price = df['Min.Price'].mean()
mean_max_price = df['Max.Price'].mean()

df['Min.Price'].fillna(mean_min_price, inplace=True)
df['Max.Price'].fillna(mean_max_price, inplace=True)

print(df)

Задача 42

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

def replace_missing(column):
    if column.name == 'Min.Price':
        return column.fillna(column.mean())
    elif column.name == 'Max.Price':
        return column.fillna(column.median())
    return column

df = df.apply(replace_missing, axis=0)

print(df)

Задача 43

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

first_column_as_df = df.loc[:, ['a']]

print(first_column_as_df)

Задача 44

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df[['a', 'c']] = df[['c', 'a']]
print("После обмена столбцов 'a' и 'c':")
print(df)

def swap_columns(df, col1, col2):
    df[[col1, col2]] = df[[col2, col1]]
    return df

df = swap_columns(df, 'a', 'c')
print("\nПосле повторного обмена столбцов 'a' и 'c' с использованием функции:")
print(df)

df = df.reindex(columns=sorted(df.columns, reverse=True))
print("\nПосле сортировки столбцов в обратном алфавитном порядке:")
print(df)

Задача 45

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

print(df)

Задача 46

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4) ** 10, columns=['random'])

pd.set_option('display.float_format', '{:.4f}'.format)

print(df)

Задача 47

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.random(4), columns=['random'])

df['random'] = df['random'].apply(lambda x: f'{x * 100:.2f}%')

print(df)

Задача 48

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

filtered_df = df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]

print(filtered_df)

Задача 49

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0, 1, 2, 3, 5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')

df['index'] = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']
df.set_index('index', inplace=True)

is_primary_key = df.index.is_unique

print(df)
print(f"Индекс является первичным ключом: {is_primary_key}")

Задача 50

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))

fifth_largest_value = df['a'].nlargest(5).iloc[-1]

position = df[df['a'] == fifth_largest_value].index[0]

print(f"Позиция строки с 5-м наибольшим значением в столбце 'a': {position}")

Задача 51

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1, 100, 15))

mean_value = ser.mean()

filtered_values = ser[ser > mean_value]

second_largest = filtered_values.nlargest(2).iloc[-1]

position = ser[ser == second_largest].index[0]

print(f"Позиция 2-го наибольшего значения, превышающего среднее: {position}")

Задача 52

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

row_sums = df.sum(axis=1)

filtered_df = df[row_sums > 100]

last_two_rows = filtered_df.tail(2)

print(last_two_rows)

Задача 53

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.logspace(-2, 2, 30))

percentile_5 = ser.quantile(0.05)
percentile_95 = ser.quantile(0.95)

ser[ser < percentile_5] = percentile_5

ser[ser > percentile_95] = percentile_95

print(ser)

Задача 54

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

positive_values = df[df >= 0].stack().reset_index(drop=True)

n = int(np.sqrt(len(positive_values)))

positive_values = positive_values.nlargest(n**2)

square_df = positive_values.values.reshape(n, n)

result_df = pd.DataFrame(square_df)

print(result_df)

Задача 55

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

df.iloc[[1, 2]] = df.iloc[[2, 1]].values

print(df)

Задача 56

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1))

df = df.iloc[::-1]

print(df)

Задача 57

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))

binary_columns = pd.get_dummies(df['a'])

df = pd.concat([binary_columns, df[['b', 'c', 'd', 'e']]], axis=1)

print(df)

Задача 58

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

row_max = df.max(axis=1)

max_counts = (df.eq(row_max, axis=0)).sum()

column_with_most_max = max_counts.idxmax()

print(f"Столбец с наибольшим количеством строчных максимумов: {column_with_most_max}")

Задача 59

In [ ]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cdist

# Создание DataFrame с примером данных
data = {
    'p': [57, 68, 74, 80, 93, 69, 39, 63, 18, 79],
    'q': [77, 5, 40, 17, 48, 55, 23, 28, 4, 12],
    'r': [13, 92, 18, 39, 85, 8, 88, 25, 73, 45],
    's': [62, 24, 37, 60, 33, 11, 53, 61, 7, 34]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

distances = cdist(df, df, metric='euclidean')

np.fill_diagonal(distances, np.inf)

nearest_rows = np.argmin(distances, axis=1)

df['nearest_row'] = df.index[nearest_rows].values

df['dist'] = np.min(distances, axis=1)

print(df)

Задача 60

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1), columns=list('parstuvwxy'), index=list('abcdefgh'))

correlation_matrix = df.corr()

max_abs_correlation = correlation_matrix.abs().max()

print(max_abs_correlation)

p   1.0000
a   1.0000
r   1.0000
s   1.0000
t   1.0000
u   1.0000
v   1.0000
w   1.0000
x   1.0000
y   1.0000
dtype: float64

Задача 61

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

min_values = df.min(axis=1)
max_values = df.max(axis=1)

result_df = pd.DataFrame({'min': min_values, 'max': max_values})

print(result_df)

   min  max
0    1   86
1    5   99
2   14   86
3    1   93
4   26   99
5   10   99
6    7   93
7    6   99

Задача 62

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

penultimate_values = df.apply(lambda row: np.partition(row, -2)[-2], axis=1)

df['penultimate'] = penultimate_values

print(df)

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  46  88  80   1  46  ...   8  88   1  56           88
1  51  44  43  89  96  ...  37  27  82   5           89
2  34  43  65  93  75  ...  65  41  99  53           93
3  77  64  30   6  79  ...  85  47   3  73           79
4  32  27  70  90  87  ...  31  57  86  64           90
5  64   6  71  64  55  ...   4  93  43  98           93
6  10  33   6  83  44  ...  53  18  89  73           83
7   9  42  69  75  97  ...  65  99   8  45           97

[8 rows x 11 columns]

Задача 63

In [16]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

df_normalized = (df - df.mean()) / df.std()
                 
df_ranked = (df - df.min()) / (df.max() - df.min())

print("Нормализованный DataFrame:")
print(df_normalized)

print("\nРанжированный DataFrame:")
print(df_ranked)

Нормализованный DataFrame:
        0       1       2       3       4       5       6       7       8  \
0 -0.2341 -0.7751  0.7458 -1.7520  0.8151 -0.7938  0.1375 -0.5383  0.9027
1  1.4892 -1.1014  1.5885 -0.7684  0.7082  0.7579 -1.1723 -0.6378  1.3449
2  1.2644  0.7479 -0.9396  0.6718 -1.4654 -1.1386 -0.4388 -0.6876  1.0870
3 -0.7586 -1.1739 -0.8048  0.9880  0.1737 -0.4202  1.8666  1.6771 -0.0184
4 -0.9085  0.0227  0.1053  1.0582 -1.0022  1.5337 -0.8580 -0.4885 -0.5343
5 -1.1333  1.5093  0.4424  0.6367  0.3519  0.0682 -0.4912 -0.1151 -0.4606
6  0.5900 -0.1949  0.3076 -0.5576 -0.8953 -0.9949 -0.0196 -0.7125 -1.1975
7 -0.3091  0.9654 -1.4452 -0.2766  1.3140  0.9878  0.9759  1.5028 -1.1238

        9
0  0.6186
1 -1.7305
2  0.0235
3 -1.2607
4  0.8378
5  1.0571
6 -0.0078
7  0.4620

Ранжированный DataFrame:
       0      1      2      3      4      5      6      7      8      9
0 0.3429 0.1486 0.7222 0.0000 0.8205 0.1290 0.4310 0.0729 0.8261 0.8427
1 1.0000 0.0270 1.0000 0.3500 0.7821 0.7097 0.0000 0.0312 1.0000 0.0000
2 0.9143 0.7162 0.1667 0.8625 0.0000 0.0000 0.2414 0.0104 0.8986 0.6292
3 0.1429 0.0000 0.2111 0.9750 0.5897 0.2688 1.0000 1.0000 0.4638 0.1685
4 0.0857 0.4459 0.5111 1.0000 0.1667 1.0000 0.1034 0.0938 0.2609 0.9213
5 0.0000 1.0000 0.6222 0.8500 0.6538 0.4516 0.2241 0.2500 0.2899 1.0000
6 0.6571 0.3649 0.5778 0.4250 0.2051 0.0538 0.3793 0.0000 0.0000 0.6180
7 0.3143 0.7973 0.0000 0.5250 1.0000 0.7957 0.7069 0.9271 0.0290 0.7865

Задача 64

In [17]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

correlations = [df.iloc[i].corr(df.iloc[i + 1]) for i in range(len(df) - 1)]

result_df = pd.DataFrame(correlations, columns=['Correlation'])

print(result_df)

   Correlation
0       0.2428
1      -0.3760
2       0.3712
3       0.1471
4      -0.0098
5      -0.2140
6      -0.1388

Задача 65

In [18]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, -1))

df.values[[np.arange(df.shape[0])] * 2] = 0 
df.values[[np.arange(df.shape[0])[::-1]] * 2] = 0 

print(df)

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0  0  0
8  0  0  0  0  0  0  0  0  0  0
9  0  0  0  0  0  0  0  0  0  0

Задача 66

In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': ['apple', 'banana', 'orange'] * 3,
    'col2': np.random.rand(9),
    'col3': np.random.randint(0, 15, 9)
})

df_grouped = df.groupby('col1')

apple_group = df_grouped.get_group('apple').reset_index(drop=True)

print(apple_group)

    col1   col2  col3
0  apple 0.6423    13
1  apple 0.7853     1
2  apple 0.6651    13

Задача 67

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

banana_df = df[df['fruit'] == 'banana']

sorted_ratings = banana_df['rating'].sort_values(ascending=False)

second_largest_rating = sorted_ratings.iloc[1]

print(f"Второе по величине значение rating для banana: {second_largest_rating}")

Задача 68

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

mean_price_df = df.groupby('fruit', as_index=False)['price'].mean()

mean_price_df = mean_price_df.rename(columns={'price': 'mean_price'})

print(mean_price_df)

Задача 69

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'pazham': ['apple', 'orange', 'pine'] * 2,
    'kilo': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

merged_df = pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'])

print(merged_df)

Задача 70

In [23]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a': np.arange(1, 6),
    'b': np.arange(10, 15)
})

df['lag1'] = df['a'].shift(1)

df['lead1'] = df['b'].shift(-1)

print(df)

   a   b   lag1   lead1
0  1  10    NaN 11.0000
1  2  11 1.0000 12.0000
2  3  12 2.0000 13.0000
3  4  13 3.0000 14.0000
4  5  14 4.0000     NaN

Задача 71

In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

frequency = df.stack().value_counts()

print(frequency)

2    6
8    3
5    3
7    3
1    2
4    2
3    1
Name: count, dtype: int64

Задача 72

In [ ]:
import pandas as pd

df = pd.DataFrame([
    "STD, City   State",
    "33, Kolkata   West Bengal",
    "44, Chennai   Tamil Nadu",
    "40, Hyderabad   Telengana",
    "80, Bangalore   Karnataka"
], columns=['row'])

df = df.iloc[1:]

split_data = df['row'].str.split(', ', expand=True)

if split_data.shape[1] < 3:
    split_data[2] = None

new_df = pd.DataFrame({
    'STD': split_data[0],
    'City': split_data[1],
    'State': split_data[2]
})

print(new_df)